.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fa {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

span {
  margin-left: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 75px 10px 75px;
  border-style: solid;
  border-color: grey;
  background-color: grey;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 7em;
  padding: 0px 75px 0px 75px;
}

.links {
  display: flex;
  margin-right: 0px;
}

button {
  border-style: none;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 8.4em;
}

button:hover {
  background-color: black;
  color: white;
}

.team-page {
  margin-right: 75px;
  margin-left: 75px;
}

.team-header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 80%; 
  left: 0%; 
  background-color: #6f6c6c;
  opacity: 0.7;
  width: 240px;
  height: 57px;
}

.overlay-text p {
  color: rgb(255, 255, 255); 
  font-size: 17px; 
  font-weight: 500;
  text-align: left;
  margin-block-start: 5px;
  margin-block-end: 2px;
  margin-inline-start: 5px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4em;
  margin-right: 4em;
}

.project-wrapper {
  position: relative;
  border-style: solid;
  margin-right: 15px;
  margin-bottom: 2em;
  width: 250px;
  height: 200px;
}

.project-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(28, 27, 27);
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}

.project-wrapper:hover .overlay {
  bottom: 0;
  height: 100%;
  color: white;
}