.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fa {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

#email-link {
  margin-left: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 75px 10px 75px;
  border-style: solid;
  border-color: grey;
  background-color: grey;
  color: white;
}

.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 7em;
  padding: 0px 75px 0px 75px;
}

.links {
  display: flex;
  margin-right: 0px;
}

button {
  border-style: none;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 8.4em;
}

button:hover {
  background-color: black;
  color: white;
}

.button-selected {
  background-color: rgb(181, 22, 22);
}

.team-header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  height: auto;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4em;
  margin-right: 4em;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  text-align: left;
  color: #fff; 
  padding: 9px;
}

.project-wrapper, .image-container {
  position: relative;
  border-style: solid;
  margin-right: 15px;
  margin-bottom: 2em;
  width: 250px;
  height: 200px;
}

.project-wrapper img, .image-container img {
  display: block;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}
.project-wrapper:hover .overlay, .image-container:hover .overlay{
  bottom: 0;
  height: 100%;
  color: white;
}

.page-layout {
 margin: 5em; 
}

.details-photos {
  display: flex;
  flex-direction: row;
}

.photo-container img {
  width: 250px;
  height: 200px;
}

.footer-details {
  display: flex;
  justify-content: space-around;
}

.quick-links, .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-contact span {
  margin-left: 0px;
  margin-bottom: 3px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  background-color: rgb(208, 51, 51);
  color: antiquewhite;
  padding: 20px 10%;
}

.subscribe {
  display: flex;
  align-items: center;
}

.contact-page {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.home-image{
  width: 100vw;
  height: 400px;
}